body {
  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

  
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.page-header a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.features-blue {
  color: #000000;
}

.features-blue h2 {
  font-size: 21px;
  color: #000000;
}

.interested-container h2 {
  font-size: 30px;
  line-height: 24px;
}

.filters-title {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 29px;
  padding: 0;
  font-size: 16px;
  color: #000000;
}

.results-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

h2 .item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

/* header */ 
.header {
  font-size: 0;
  background-color: white;
  /* Только для оформления сетки */
  min-height: 56px;
  max-width: 1200px;
  margin-left: auto; 
  margin-right: auto;
}

.main-nav {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-right: 6%;
  padding-bottom: 19px;
  padding-left: 6%;
}

.main-nav li {
  display: inline-block;
  width: 20%; 
}

.main-nav a {
  text-decoration: none;
}

.main-nav li:nth-child(2) {
  margin-right: 20%;
}

.main-nav li:nth-child(3), .main-nav li:nth-child(4) {
  text-align: right;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 20;
  margin-right: auto;
  margin-left: auto;
  margin-left: -69px;
}

/* Главная станица */
.top-background-image {
  position: relative;
  height: 431px;
  padding-top: 77px;
}

.top-background-image img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.slogan, .features-blue, .features-white, .features-grey {
  text-align: center;
}

.text-content h2, .text-content p {
  margin: 0;
  padding: 0;
}

.features-white {
  min-height: 330px;
  font-size: 0;
}

.features-blue p {
  color: black;
}

.number {
  color: black;
}

.features-blue, .text-content {
  display: inline-block;
  vertical-align: top;
}

.features-blue .text-content {
  padding-top: 53px;
}

.text-content {
  box-sizing: border-box;
  width: 33.333333%;
  padding-right: 5.5%;
  padding-left: 5.5%;
  font-size: 14px;
  line-height: 21px;
}

.features-white h2 {
  width: 166px;
  margin: 0 auto;
  padding-bottom: 22px; 
}

.view-image {
  width: 66.666666%;
  overflow: hidden;
  display: inline-block;
}

.features-blue {
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
  color: white;
  font-size: 0;
}

.features-blue h2 {
  
}



.features-grey {
  min-height: 256px;
  font-size: 0;
}

.features-grey h2 {
  padding-top: 46px;
}

.one-third {
  position: relative;
  padding-top: 160px;
}

.one-third:before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  display: block;
  margin-left: -38px;
}

.house:before {
  width: 76px;
  height: 76px;
}

.food:before {
  width: 76px;
  height: 76px;
}

.gift:before {
  width: 76px;
  height: 76px;
}

.interested-container {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.interested-container h2 {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 29px;
  padding: 0;
}

.search-form-container a {
  display: block;
  width: 568px;
  margin-top: 47px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  background-color: #766357;
  text-align: center;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 458px;
  padding: 55px;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  color: black;
  background: white;
  box-shadow: 0 2px 5px 0 #d4d2d2;
} 

/* Футер */
.index {
  padding: 36px 0;
  max-width: 1200px;
  font-size: 0;
  background: rgba(254, 254, 254, 0.9);
}

.hashtag {
  width: 33.3333333%;
  font-size: 21px;
  vertical-align: middle;
  display: inline-block;
  
}

.social {
  width: 33.3333333%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.social .social-btn {
  display: inline-block;
  width: 42px;
  height: 18px;
  margin-right: 6px;
  padding: 15px 2px;
  vertical-align: middle;
  font-size: 21px;
}

.copyright {
  display: inline-block;
  width: 33.3333333%;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}

/* Страница отелей */

.filters {
  padding-bottom: 30px;
  padding-top: 26px;
  padding-right: 6%;
  padding-left: 6%;
  color: white;
  background: blue;
}

.filters-column {
  float: left;
  box-sizing: border-box;
  width: 186px;
  margin-right: 2%;
}

.filters-price {
  float: right;
  width: 30.8%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.filters-column h2, .filters-price h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.filter-checkbox {
  margin-top: 12px;
}

.price-frame {
  box-sizing: border-box;
  width: 98%;
  padding: 5px 0;
  text-align: center;
}

.results-wrapper, .item {
  padding: 29px 6%;
}

.results-title, .sorting-title, .sorting-list, .itempic-wrapper {
  float: left;
  margin-right: 32px;
}

.item-description {
  float: left;
  max-width: 264px;
}

.sorting-controls, .item-rating {
  float: right;
}

.item-text, .item-buttons {
  float: left;
  min-width: 110px;
  max-width: 142px;
  margin-top: 8px;
  margin-right: 6px;
}

.results-title {
  width: 135px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
}

.sorting-list li {
  display: inline-block;
  margin-right: 32px;
  font-size: 12px;
  vertical-align: top;
}

.sorting-list li:first-child {
  margin-right: 40px;
}

.sorting-list a {
  padding-right: 2px;
  padding-left: 2px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-controls {
  position: relative;
  top: 3px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}

.item {
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
}

.items:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.itempic-wrapper,
.item-wrapper,
.item-description {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.item-wrapper {
  width: 85%;
}

.item-description {
  max-width: 70%;
}

.itempic-wrapper {
  margin-right: 27px;
  overflow: hidden;
  width: 135px;
  height: 90px;
  float: left;
}

.itempic-wrapper img {
  width: 100%;
}

.item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.item-text {
  margin: 6px 0 17px;
  max-width: 265px;
  font-size: 0;
  color: #333333;
}

.item-text p {
  display: inline-block;
  font-size: 14px;
}

.item-text p:first-child{
  width: 44%;
}

.item-text p:last-child {
  width: 56%;
  vertical-align: top;
}

.item-buttons, .rating-stars {
  font-size: 0;
}

.item-buttons:last-child {
  margin-right: 0;
}

.item-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 27px;
  text-align: center;
  color: #ffffff;
  margin-right: 6px;
  box-sizing: border-box;
  padding-top: 7px;
}

.details {
  width: 110px;
  background-color: #81b3d2;
}

.book {
  width: 142px;
  background-color: #766357;
}

.item-rating {
  display: inline-block;
  text-align: right;
  position: relative;
  width: 15%;
}

.rating-text {
  margin-top: 47px;
  width: 110px;
  height: 26px;
  box-sizing: border-box
  padding-top: 6px;
  background-color: #f2f2f2;
  color: #666666;
  text-align: center;
  position: absolute;
  right: 0px;
}

.rating-stars>span {
  font-size: 0;
  display: inline-block;
  width: 19px;
  height: 17px;
  margin-left: 4.5px;
}