body {
  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  position: relative;
  min-width: 768px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

  
h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.page-header a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.features-blue {
  color: #000000;
}

.features-blue h2 {
  font-size: 21px;
  color: #000000;
}

.interested-container h2 {
  font-size: 30px;
  line-height: 24px;
}

.filters-title {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 29px;
  padding: 0;
  font-size: 16px;
  color: #000000;
}

.results-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

h2 .item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

/* header */ 
.header {
  font-size: 0;
  background-color: white;
  /* Только для оформления сетки */
  min-height: 56px;
  max-width: 1200px;
  margin-left: auto; 
  margin-right: auto;
}

.main-nav {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-right: 6%;
  padding-bottom: 19px;
  padding-left: 6%;
}

.main-nav li {
  display: inline-block;
  width: 20%; 
}

.main-nav a {
  text-decoration: none;
}

.main-nav li:nth-child(2) {
  margin-right: 20%;
}

.main-nav li:nth-child(3), .main-nav li:nth-child(4) {
  text-align: right;
}

.logo {
  position: absolute;
  left: 50%;
  z-index: 20;
  margin-right: auto;
  margin-left: auto;
  margin-left: -69px;
}

/* Главная станица */
.top-background-image {
  position: relative;
  height: 431px;
  padding-top: 77px;
  background: #d9eaf2 url("../img/welcome-sedona-bg.jpg") no-repeat;
  background-size: cover;
}

.top-background-image img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.top-background-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 57px;
  background: url("../img/mask.png") no-repeat;
  background-size: 100% 57px;
} 

.slogan, .features-blue, .features-white, .features-grey {
  text-align: center;
}

.promo {
  width: 576px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: white;
  }
  
.promo h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}

.features-white h2, .features-white p {
  margin: 0;
  padding: 0;
}

.features-white {
  min-height: 330px;
  font-size: 0;
  background-color: white;
}

.number {
  padding-bottom: 21px;
}

.features-blue, .text-content {
  display: inline-block;
  vertical-align: top;
}

.text-content {
  box-sizing: border-box;
  width: 33.333333%;
  padding-right: 5.5%;
  padding-left: 5.5%;
  font-size: 14px;
  line-height: 21px;
}

.features-white h2 {
  width: 166px;
  margin: 0 auto;
  padding-bottom: 22px;
}

.view-image {
  width: 66.666666%;
  overflow: hidden;
  display: inline-block;
}

.features-blue {
  min-height: 256px;
  max-height: 256px;
  overflow: hidden;
  color: white;
  background-color: #81b3d2;
  font-size: 0;
}

.features-blue h2 {
  padding-top: 53px;
  color: white;
}

.features-blue .text-content {
  padding-top: 0px;
}

.features-grey {
  min-height: 256px;
  font-size: 0;
  background-color: #eeeeee;
}

.features-grey h2 {
  padding-top: 46px;
  background-color: #eeeeee;
}

.features-white .one-third {
  position: relative;
  padding-top: 160px;
}

.features-white .one-third:before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  display: block;
  margin-left: -38px;
}

.house:before {
  width: 76px;
  height: 76px;
}

.food:before {
  width: 76px;
  height: 76px;
}

.gift:before {
  width: 76px;
  height: 76px;
}

.interested-container {
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.interested-container h2 {
  margin: 0;
  margin-top: 56px;
  margin-bottom: 29px;
  padding: 0;
}

.search-form-container a {
  display: block;
  width: 568px;
  margin-top: 47px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  background-color: #766357;
  text-align: center;
  color: white;
}

.map {
  position: relative;
  height: 593px;
  }

.map-picture {
  height: 593px;
  background: #cbdda9 url("../img/map.jpg") no-repeat;
  background-size: cover;
  background-position: center 0px;
  }
  
.map-picture iframe {
  width: 100%;
  height: 593px;
  border: 0;
  background-size: cover;
  background-position: center 0px;
}  

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 458px;
  padding: 55px;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  color: black;
  background: white;
  box-shadow: 0 2px 5px 0 #d4d2d2;
} 

/* Страница отелей */

.filters {
  padding-bottom: 30px;
  padding-top: 26px;
  padding-right: 6%;
  padding-left: 6%;
  color: white;
  background: #766357;
  background-size: cover;
}

.filters-column {
  float: left;
  box-sizing: border-box;
  width: 186px;
  margin-right: 2%;
}

.filters-price {
  float: right;
  width: 30.8%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.filters-column h2, .filters-price h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.filter-checkbox {
  margin-top: 12px;
}

.price-frame {
  box-sizing: border-box;
  width: 98%;
  padding: 5px 0;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  margin-left: 2%;
}

.price-frame-input {
  display: inline-block;
  width: 47%;
  vertical-align: middle;
}

.price-frame-input-line {
  display: inline-block;
  width: 2px;
  height: 22px;
  vertical-align: middle;
  background: white;
}

.price-frame input {
  width: 40px;
  margin: 0;
  padding: 0;
  color: white;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  width: 98%;
  padding-top: 20px;
  padding-bottom: 32px;
  margin-left: 2%;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.submit {
  display: block;
  width: 63px;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  border: 2px solid white;
  outline: none;
}


/* поиск */

.sorting {
  padding: 29px 6%;
  border-bottom: 2px solid #e5e5e5;
}

.results-title {
  float: left;
  margin-right: 32px;
  width: 135px;
}

.list ul {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  list-style: none;
  font-size: 0;
}

.list li {
  display: inline-block;
  margin-right: 32px;
  font-size: 12px;
  vertical-align: top;
}

.list li:first-child {
  margin-right: 40px;
}

.list a {
  padding-right: 2px;
  padding-left: 2px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.list .sorting-active {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-controls {
  float: right;
  position: relative;
  top: 3px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}

/* отели */

.item {
  padding: 29px 6%;
  border-bottom: 2px solid #e5e5e5;
}

.itempic-wrapper {
  float: left;
  margin-right: 32px;
  width: 135px;
  height: 90px;
}

figure {
  margin: 0;
  padding: 0;
}

.item-description {
  float: left;
  max-width: 263px;
}

.item-description > a {
  display: block;
  margin: 0;
  margin-top: -6px;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.item-buttons {
  float: left;
  min-width: 110px;
  max-width: 142px;
  margin-top: 8px;
  margin-right: 6px;
}

.item-buttons a {
  display: block;
  margin-top: 14px;
  padding: 5px 16px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.details {
  color: white;
  background-color: #81b3d2;
}

.book {
  color: white;
  background-color: #604e43;
}

.item-rating {
  float: right;
  text-align: right;
}

.item-rating .rating-text {
  margin: 0;
  margin-top: 75px;
  margin-right: 2px;
  padding: 5px 16px;
  font-size: 14px;
  color: #666666;
  background: #f2f2f2;
}

.rating-stars {
  margin-top: -6px;
  margin-right: -4px;
  font-size: 0;
}



/* Футер */
.footer {
  padding: 36px 0;
  font-size: 0;
  background: rgba(254, 254, 254, 0.9);
}

.hashtag {
  display: inline-block;
  width: 33.3333333%;
  font-weight: bold;
  font-size: 21px;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-decoration: none;
}

.social {
  display: inline-block;
  width: 33.3333333%;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
}

.social .social-btn {
  display: inline-block;
  width: 42px;
  height: 18px;
  margin-right: 6px;
  padding: 15px 2px;
  font-size: 20px;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  background: #81b3d2;
}

.copyright {
  display: inline-block;
  width: 33.3333333%;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-decoration: none;
}